.main{
    width: 450px;
    border: 2px solid black;
    margin: auto;
}
.box{
    width: 420px;
    height: 30px;
    margin: 10px auto;
    padding: 10px;
    background-color: aqua;
}
.left{
    width: 150px;
    float: left;
}
.right{
    width: 250px;
    float: left;
}